aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
async-timeout==5.0.1
attrs==24.2.0
blessed==1.20.0
certifi==2024.12.14
charset-normalizer==3.4.2
codefind==0.1.7
croniter==3.0.3
discord-py-interactions==5.13.2
discord-typings==0.9.0
emoji==2.14.1
frozenlist==1.4.1
idna==3.10
jurigged==0.6.1
multidict==6.1.0
ovld==0.5.10
propcache==0.3.2
python-dateutil==2.9.0.post0
pytz==2024.2
sentry-sdk==2.20.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.2.13
yarl==1.20.1
