aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.3.0
blessed==1.21.0
certifi==2025.8.3
charset-normalizer==3.4.3
codefind==0.1.7
croniter==6.0.0
discord-py-interactions==5.13.2
discord-typings==0.9.0
emoji==2.14.1
frozenlist==1.7.0
idna==3.10
jurigged==0.6.1
multidict==6.6.4
ovld==0.5.13
propcache==0.3.2
python-dateutil==2.9.0.post0
sentry-sdk==2.35.0
pytz==2025.2
six==1.17.0
tomli==2.2.1
typing_extensions==4.15.0
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.2.13
yarl==1.20.1
